/* h3{
    color: yellow;
} */

#demo{
    padding: 30px;
}

li{
    list-style: none;
}

#bg-img{

        background-image: url("/image/1489423.jpg");
        /* background-color: #cccccc; */
       
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
}

#todo{
    background-image: url("/image/coffee-list.jpg");
    /* background-color: #cccccc; */
   
 background-size:cover;
 
position: relative;
}
#sucessMessage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: normal;
    font-size: larger;
    padding-left: 250px;
    margin-left: 250px;
    text-align:left;
}

.container{
    /* border: 2px solid black;*/
     margin-top:1%;
     margin-left: 1%;
 }
/* header{
    background-color: black;
    height: 7em;
} */

/*

.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
    transition: 0.5s ease-in-out;
}

.head-tag a:hover{
    background-color: teal;
    color: black;
}

.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 45px;
    

}

.sidebar li{
    list-style: square;
    margin-bottom: 5px;
}

 /*form */

 .login{

    float: right;
    border: 1px solid red;
    background-color: beige;
    height: 18em;
    margin-top: 5%;
    margin-left: 38%;
    margin-right: 2%;
    padding: 30px;
    
 }

 .login h3{
     text-align: center;
 }

 .login input{

    height: 1.5em;
    width: 100%;
 }

 .login #login-button{
     width: 100%;
     height: 1.8em;
     color: white;
     background-color: dodgerblue;
     border: 1px solid dodgerblue;
 }

 /*p box*/
 .container{
    /* border: 2px solid black;*/
     margin-top:13%;
     margin-left: 1%;
 }
 
 footer{
     background-color: black;
     color: white;
     margin-top: 50%;
     height: 1.5em;
 }

 footer h3{
     text-align: center;
 }
